*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    height: 600px;
    background-color:rgb(202, 140, 26) ;
}
.row{
    height: 500px;
}

#img1{
    width:80%;
    padding-top: 100px;
    padding-left: 100px;
}
h1{
    font-size: 2.5cm;
    padding-top: 170px;
    color:rgb(134, 48, 48);
    font-weight: bolder;
    font-family:fantasy;
}
.slogan{
    font-family:fantasy;
    color: darkred;  
}
#img2{
    width:20%;
}
.aboutUs{
    background-image:url("../images/ivan-torres-MQUqbmszGGM-unsplash.jpg") ;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
#container1{
    /* background-color: aqua; */
    height: 400px;
    width: 500px;
    text-align: center;
    justify-content: center;
    color: whitesmoke;
    font-family: fantasy;
    font-weight: bolder;

}
#img3{
    width: 10%;
}
#img4{
    width: 20%;
}